@tailwind base;
@tailwind components;
@tailwind utilities;




/* Buttons */
.btn-primary {
  @apply bg-rosa-pink text-soft-beige px-4 py-2 rounded-md hover:bg-accent-yellow transition;
}

.btn-secondary {
  @apply bg-dark-blue text-soft-beige px-4 py-2 rounded-md hover:bg-accent-yellow transition;
}

/* Cards */
.card {
  @apply  outline-4 outline-double shadow-lg  border-black;
}

/* Section Containers */
.section {
  @apply p-8 bg-gradient-card rounded-md;
}

.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }